.root {
  grid-row: 3/4;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
  gap: 8px;
  justify-content: center;
}

.root button {
  padding: 0;
  height: 40px;
  font-size: 14px;
}
